[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Gatling SBT-based tests for Gerrit Code Review
[access "refs/*"]
	owner = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group GerritForgeReviewers
	label-Code-Review = -2..+2 group user/Luca Milanesio (lucamilanesio)
	label-Verified = -1..+1 group GerritForgeReviewers
	label-Verified = -1..+1 group user/Luca Milanesio (lucamilanesio)
	push = group user/Luca Milanesio (lucamilanesio)
	read = group user/Luca Milanesio (lucamilanesio)
	rebase = group user/Luca Milanesio (lucamilanesio)
	removeReviewer = group GerritForgeReviewers
	removeReviewer = group user/Luca Milanesio (lucamilanesio)
	submit = group GerritForgeReviewers
	submit = group user/Luca Milanesio (lucamilanesio)
	revert = group GerritForgeReviewers
[access "refs/heads/*"]
	create = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
	pushMerge = group user/Luca Milanesio (lucamilanesio)
	read = group user/Luca Milanesio (lucamilanesio)
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
[receive]
	requireChangeId = true
